@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

/*Utility class*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: linear-gradient(
    to right top,
    #8492ed,
    #c176d8,
    #ed52a8,
    #fd3a65,
    #eb4b12
  );
  padding: 10px 25px;
  border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #c472a0,
    #ba74aa,
    #ad77b3,
    #9e7aba,
    #8d7dc0,
    #778cd4,
    #559ae3,
    #00a9ed,
    #00c6f2,
    #00dfd5,
    #00f19f,
    #aafb5f
  );
  color: white;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
}
ul {
  list-style-type: none;
}
button {
  border: 0;
}

button:hover {
  cursor: pointer;
}
input {
  border: 0;
}
button:focus,
input:focus {
  outline: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid red;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, 100px);
  grid-template-areas:
    "h h h h"
    "i i s s"
    "i i s s"
    "i i s s"
    "f f f f";
  gap: 20px;
}

.header {
  font-size: 1.5em;
  grid-area: h;
  border: 1px solid black;
}

.header > span {
  color: #d30527;
}

.items {
  grid-area: i;
  border: 1px solid yellow;
}

.summary {
  grid-area: s;
  border: 1px solid red;
}

.footer {
  grid-area: f;
  border: 1px solid red;
  justify-content: flex-end;
}

.item {
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid red;
}
